.head {
  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: #444;
  color: #ddd;
}

h1,
h2 {
  text-align: center;
}

.card {
  margin: 20px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px;
}

.card p {
  text-align: center;
}

.card button {
  width: 250px;
}
